/*
File Name: One Column
Description: Responsive one column layout
Version: 0.1
Author: Satrya
Since: 0.1
License: GNU General Public License v2
License URI: license.txt
*/
#page {
  *zoom: 1;
  max-width: 700px;
  _width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
#page:after {
  content: "";
  display: table;
  clear: both;
}

#primary {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -20px;
  display: inline;
}

@media screen and (max-width: 767px) {
  .entry-thumbnail a,
  .entry-thumbnail img {
    height: 100%;
  }
}

#colophon {
  *zoom: 1;
  max-width: 700px;
  _width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
#colophon:after {
  content: "";
  display: table;
  clear: both;
}
#colophon .footer-widget {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
#colophon .footer-3 {
  float: right;
  margin-right: 0;
  #margin-left: -20px;
  display: inline;
}

#site-credit {
  *zoom: 1;
  max-width: 700px;
  _width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
#site-credit:after {
  content: "";
  display: table;
  clear: both;
}
