@import "compass";

/*
File Name: Options Custom
Description: Custom css for theme options
Version: 1.0
Author: Satrya
Since: 0.0.6
License: GNU General Public License v2
License URI: license.txt
*/

#optionsframework-metabox {
	margin-right: 305px;
}

#optionsframework {
	@include float(left);
	max-width: 100%;
	width: 100%;
	.controls {
		.of-radio-img-img {
			height: 70px;
			width: 90px;
		}
	}
}

#optionsframework-sidebar {
	@include float(right);
	width: 280px;
	a {
		text-decoration: none;
	}
	.metabox-holder {
		padding-top:0;
	}
}

#wpbody-content #optionsframework-sidebar .metabox-holder {
	padding-top: 0;
}

.tiga-support {
	display: block;
	margin: 10px 0;
	text-align: right;
	a {
		margin-left: 10px;
		position: relative;
		top: -8px
	}
	span {
		display: inline-block;
		margin-left: 10px;
		a {
			top: 0;
		}
	}
}