// Fonts & @font-face mixins
// Feel free to customize it!
// =================================================================================
@import "compass/css3/font-face";

@mixin ff-text{
	font-family: 'Open Sans', sans-serif;
}

@mixin ff-heading{
	font-family: 'Francois One', sans-serif;
}

@mixin ff-decorative{
	font-family: $cursive; 
}

@mixin ff-mono{
	font-family: $consolas;
}