/*
File Name: 		IE
Description: 	Stylesheet for IE
Version: 		0.0.1
Author: 		Satrya
Since:			tiga 0.0.1
License: 		GNU General Public License v3
License URI: 	http://www.gnu.org/licenses/gpl-3.0.html
*/
.slides-content {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  zoom: 1;
}
