#colophon {
	background: $blackLight;
	@include border-radius;
	@include trailer;
}

#site-credit {
	@include container;
	@include trailer;
}
	
.copyleft {
	display: block;
	@include adjust-font-size-to(12px);
	@include text-shadow( 1px 1px 0 rgba($white, .5) );
}

.credit {
	@extend .copyleft;
}

/* 	FOOTER SIDEBAR
	----------------- */

#footer-sidebar {
	display: block;
	position: relative;
}

.footer-widget {
	@include span-columns(6, 24);
	color: #fff;
	@include text-shadow( 1px 1px 1px rgba($black, .9) );
	.widget {
		border-bottom: none;
		margin: 0 0 rhythm(1.5);
		.widget-title {
			color: $grayDark;
		}
		ul {
			@include reset-list;
			li {
				border-bottom: 1px solid #333;
				padding: .4em 0;
				&:before {
					content: "";
					padding-right: 0;
				}
				a {
					color: $white;
					@include text-shadow( 1px 1px 1px rgba($black, .9) );
				}
			}
		}
		.tagcloud a {
			background: $white;
			color: #333;
		}
	}
}

.footer-4  {
	@include omega;
}