#main-header {
	margin-bottom: gutter();
}

.site-branding {
	@include columns(10, 24);
	.site-title {
		@include adjust-font-size-to(40px);
		@include ff-heading;
		font-weight: bold;
		a {
			color: $font-color;
			&:hover {
				color: $link-color;
			}
		}
	}
}

.site-logo {
	position: relative;
	a {
		display: block;
	}
	span {
		left: 0;
		position: absolute;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
}

/* 	MAIN NAVIGATION
	----------------- */
.main-navigation {
	@include columns(14, 24);
	padding-top: gutter();
	position: relative;
	z-index: 99;
	ul {
		@include reset-list;
		@include float-right;
		li {
			@include float-left;
			a {
				display: block;
				color: inherit;
				@include adjust-font-size-to(11px);
				margin-left: rhythm(2);
				text-transform: uppercase;
				@include transition(all .15s ease-in);
				word-wrap: break-word;
				&:hover,
				&:active,
				&:focus {
					color: $link-color;
				}
			}
			
			&.arrow {
				padding-right: rhythm(.3);
				position: relative;
				
				&:hover {
					cursor: pointer;
				}
				
				&:after {
					content: "\00BB";
					@include adjust-font-size-to(13px);
					position: absolute;
					right: -5px;
					top: 0;
				}
			}
		}
		
		ul {
			background-color: #fff;
			border: 1px solid #ddd;
			@include box-shadow(0 0 5px rgba(black, 0.1));
			display: none;
			left: 0;
			position: absolute;
			top: 100%;
			width: rhythm(7);
			li {
				border-bottom: 1px solid #eee;
				width: 100%;
				&:last-child {
					border-bottom: none;
				}
				a {
					margin: 0 rhythm(.4);
					padding: rhythm(.3) 0;
				}
				
				&.arrow {
					padding-right: 0;
					
					&:after {
						content: "\00BB";
						@include adjust-font-size-to(13px);
						position: absolute;
						right: 5px;
						top: 3px;
					}
				}
			}
			
			ul {
				@include border-radius(0);
				left: 100%; 
				top: 0;
			}
		}
	}
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

/* 	CUSTOM HEADER
	----------------- */
#custom-header {
	a {
		display: block;
	}
	img {
		display: block;
		height: auto;
		max-width: 100%;
	}
}

/* 	SECONDARY NAVIGATION
	----------------- */
.secondary-navigation {
	@include background-image(linear-gradient(#252525, #0A0A0A));
	@include box-shadow(0 1px 2px rgba(black, .6));
	@include border-radius(5px);
	margin-top: rhythm(.1);
	position: relative;
	ul {
		@include reset-list;
		li {
			@include float-left;
			@include transition(all .15s ease-in);
			a {
				color: #fff;
				display: block;
				@include adjust-font-size-to(12px);
				padding: rhythm(.7);
				text-transform: uppercase;
				word-wrap: break-word;
			}
			&:hover {
				background-color: #111;
				&:first-child {
					@include border-radius(5px 0 0 5px);
				}
			}
			
			&.arrow {
				padding-right: rhythm(.3);
				position: relative;
				
				&:hover {
					cursor: pointer;
				}
				
				&:after {
					content: "\00BB";
					color: #fff;
					@include adjust-font-size-to(13px);
					position: absolute;
					right: 3px;
					top: 11px;
				}
			}
		}
		
		ul {
			background-color: #fff;
			border: 1px solid #ddd;
			@include box-shadow(0 0 5px rgba(black, 0.1));
			display: none;
			left: 0;
			position: absolute;
			top: 100%;
			width: rhythm(8);
			z-index: 99;
			li {
				border-bottom: 1px solid #eee;
				width: 100%;
				&:hover {
					background-color: #e7e7e7;
				}
				&:last-child {
					border-bottom: none;
				}
				a {
					color: #333;
					margin: 0 rhythm(.4);
					padding: rhythm(.3) 0;
				}
				
				&.arrow {
					padding-right: 0;
					
					&:after {
						content: "\00BB";
						color: #333;
						@include adjust-font-size-to(13px);
						position: absolute;
						right: 5px;
						top: 5px;
					}
				}
			}
			
			ul {
				left: 100%; 
				top: 0;
			}
		}
	}
}