/*	HOME PAGE FEATURED POSTS
	----------------- */
.featured-posts {
	@include trailer;
}

.featuredposts-heading {
	@include ff-heading;
	@include adjust-font-size-to(14px);
	@include trailer;
	@include float-left;
}

article.featured-carousel {
	border-bottom: none;
	@include float-left;
	margin: 0;
	padding: 0;
	position: relative;
	width: 660px;
	img {
		display: block;
	}
	.carousel-item {
		background: #f0f0f0;
		@include box-shadow(0 0 1px rgba(0, 0, 0, 0.5));
		display: block;
		padding: 7px;
		position: relative;
	}
}

.carousel-thumbnail {
	img {
		height: auto;
	}
}

.carousel-content {
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 0;
	height: 100%;
	left: 0;
	display: none;
	position: absolute;
	width: 100%;
	
	h2 {
		@include adjust-font-size-to(24px);
		padding: .5em 1em;
	}
	
	.entry-summary {
		@include adjust-font-size-to(14px);
		padding: .5em 1.5em;
	}
	
	h2 a,
	.entry-summary {
		color: #fff;
		margin: 0;
	}
	
	a {
		&:hover {
			color: #fff;
		}
	}
}

.carousel-control {
	@include float-right;
	#prev,
	#next {
		background-color: #555;
		@include border-radius(25px);
		height: 25px;
		@include transition(all .15s ease-in);
		width: 25px;
		&:hover {
			background-color: #333;
		}
		span {
			color: #fff;
			@include adjust-font-size-to(11px);
			left: 7px;
			position: relative;
			top: -2px;
		}
	}

	#prev {
		@include float-left;
		margin-right: rhythm(.1);
	}

	#next {
		@include float-left;
	}
}

.caroufredsel_wrapper {
	clear: both;
}

/*	HOME PAGE RECENT POSTS
	----------------- */
.recentposts-heading {
	@extend .featuredposts-heading;
	@include reset-float;
	margin-bottom: 0;
}

.left-content {
	overflow: hidden;
}

.first-posts {
	.entry-thumbnail {
		margin: rhythm(.3) side-gutter() 0 0;
	}
}

/* 	MAIN STYLES
	----------------- */
article {
	border-bottom: 4px double $border-color;
	@include trailer;
	@include padding-trailer(.5);
	
	.entry-title {
		a {
			color: $font-color;
			&:hover {
				color: $link-color;
			}
		}
	}
	
	.carousel-content {
		.entry-title {
			a {
				color: #fff;
				&:hover {
					color: $link-color;
				}
			}
		}
	}
	
	.entry-content,
	.entry-summary {
		@include adjust-font-size-to(13px);
	}
	
	.entry-content {
		.widget {
			@include adjust-font-size-to(13px, 1, 13px);
		}
	}
	#searchform {
		@include trailer;
	}
}

.entry-thumbnail {
	@include columns(4, 17);
	margin-left: side-gutter();
	a,
	img {
		display: block;
	}
}

.entry-meta {
	clear: both;
	@include adjust-font-size-to(11px);
	color: #999;
	a {
		color: $link-color;
		&:hover {
			color: $font-color;
		}
	}
}

.edit-link {
	clear: both;
	display: block;
}

/*	AUTHOR PAGE
	----------------- */
#author-info {
	#author-avatar {
		@include float-left;
		margin-right: rhythm(.7);
	}
	img.avatar {
		border: 1px solid $border-color;
		@include border-radius(10px);
		padding: rhythm(.1);
	}
	#author-description {
		h2 {
			@include adjust-font-size-to(16px);
			@include ff-text;
			font-weight: bold;
		}
		p {
			@include adjust-font-size-to(13px);
		}
	}
}

/*	ATTACHMENT PAGE
	----------------- */
#image-navigation {
	display: block;
	@include adjust-font-size-to(11px);
	overflow: hidden;
	margin: rhythm() 0;
}

.previous-image {
	@include columns(8, 17);
}

.next-image {
	@include columns(9, 17);
	@include omega(17);
	text-align: right;
}