/* 	BREADCRUMBS
	----------------- */
#breadcrumbs {
    border-top: 1px dotted $grayLight;
    border-bottom: 1px dotted $grayLight;
    @include adjust-font-size-to(11px);
    margin-bottom: 25px;
    padding: 5px 0;
}

/* 	SOCIAL SHARE BUTTONS
	----------------- */
.share {
	display: block;
	margin: rhythm(.5) 0 rhythm(.8);
	
	p {
		@include inline-block;
		margin: 0;
		&.share-title {
			color: $blackLighter;
			@include adjust-font-size-to(14px, 1, 11px);
			margin: .3em rhythm(.5) 0 0;
		}
		&.twitter {
			position: relative;
			top: 5px;
		}
		&.fb-like {
			@extend .twitter;
		}
		&.plusone {
			@extend .twitter;
		}
		&.stumble {
			@extend .twitter;
			iframe {
				width: 96px;
			}
		}
		&.linkedin {
			@extend .twitter;
		}
	}
}

/*	AUTHOR BOX
	----------------- */
article {
	#author-info {
		border-top: 4px double $borderColor;
		border-bottom: 0;
		clear: both;
		display: block;
		@include leader;
		margin-bottom: 0;
		@include padding-leader;
		
		#author-description {
			overflow: hidden;
			h2 {
				@include adjust-font-size-to(14px, 1, 11px);
			}
			p {
				@include adjust-font-size-to(12px, 1, 11px);
				margin: 0 0 rhythm(.5);
			}
		}
	}
}

/* 	ADS
	----------------- */
.ads-after-title,
.ads-after-content {
	display: block;
	margin: rhythm(.7) 0;
}

/* 	CONTACT FORM 7
	----------------- */
.entry-content {
	.wpcf7 {
		background-color: $whiteDark;
		@include border-radius;
		margin: 0 0 1.5em 0;
		padding: 1.4em;
		
		input[type="text"],
		input[type="email"] {
			height: 2.5em;
		}
		input[type="submit"] {
			padding: 10px 30px;
		}
	}
	div.wpcf7-validation-errors,
	div.wpcf7-mail-sent-ng {
		background: #f00;
		border: 2px solid #f00;
		color: $white;
	}
	span.wpcf7-not-valid-tip {
		background: #f00;
		border: 1px solid #f00;
		color: $white;
		left: 105%;
		padding: 0.2em 0.75em;
		top: -21%;
		width: 18em;
	}
	div.wpcf7 img.ajax-loader {
		margin-left: 1em;
	}
}

/* 	PATTERN
	----------------- */
@for $n from 1 through 4 {
	body.pattern-#{$n} {
		@include background( image-url('bg/#{$n}.png') repeat left center );
	}
}

body.pattern-5 {
	@include background( image-url('bg/5.jpg') repeat left center );
}

body.pattern-6 {
	@include background( image-url('bg/6.jpg') repeat left center );
}

@for $n from 7 through 10 {
	body.pattern-#{$n} {
		@include background( image-url('bg/#{$n}.png') repeat left center );
	}
}