/* 	BREADCRUMBS
	----------------- */
#breadcrumbs {
    border-top: 1px dotted $grayLight;
    border-bottom: 1px dotted $grayLight;
    @include adjust-font-size-to(11px);
    margin-bottom: 25px;
    padding: 5px 0;
}

/* 	SOCIAL SHARE BUTTONS
	----------------- */
.share {
	display: block;
	margin: rhythm(.5) 0 rhythm(.8);
	
	p {
		@include inline-block;
		margin: 0;
		&.share-title {
			color: $blackLighter;
			@include adjust-font-size-to(12px, 1, 11px);
			font-weight: 700;
			margin: .3em rhythm(.5) 0 0;
		}
		&.twitter {
			position: relative;
			top: 5px;
		}
		&.fb-like {
			@extend .twitter;
		}
		&.plusone {
			@extend .twitter;
		}
		&.stumble {
			@extend .twitter;
			iframe {
				width: 96px;
			}
		}
		&.linkedin {
			@extend .twitter;
		}
	}
}

/*	AUTHOR BOX
	----------------- */
article {
	#author-info {
		border-top: 4px double $borderColor;
		border-bottom: 0;
		clear: both;
		display: block;
		@include leader;
		margin-bottom: 0;
		@include padding-leader;
		
		#author-description {
			overflow: hidden;
			h2 {
				@include adjust-font-size-to(14px, 1, 11px);
			}
			p {
				@include adjust-font-size-to(12px, 1, 11px);
				margin: 0 0 rhythm(.5);
			}
		}
	}
}

/* 	ADS
	----------------- */
.ads-after-title,
.ads-after-content {
	display: block;
	margin: rhythm(.7) 0;
}

/* 	CONTACT FORM 7
	----------------- */
.entry-content {
	.wpcf7 {
		background-color: $whiteDark;
		@include border-radius;
		margin: 0 0 1.5em 0;
		padding: 1.4em;
		
		input[type="text"],
		input[type="email"] {
			height: 2.5em;
		}
		input[type="submit"] {
			padding: 10px 30px;
		}
	}
	div.wpcf7-validation-errors,
	div.wpcf7-mail-sent-ng {
		background: #f00;
		border: 2px solid #f00;
		color: $white;
	}
	span.wpcf7-not-valid-tip {
		background: #f00;
		border: 1px solid #f00;
		color: $white;
		left: 105%;
		padding: 0.2em 0.75em;
		top: -21%;
		width: 18em;
	}
	div.wpcf7 img.ajax-loader {
		margin-left: 1em;
	}
}

/* 	PATTERN
	----------------- */
@for $n from 1 through 4 {
	body.custom-background.pattern-#{$n} {
		@include background( image-url('bg/#{$n}.png') repeat left center );
	}
}

body.custom-background.pattern-5 {
	@include background( image-url('bg/5.jpg') repeat left center );
}

body.custom-background.pattern-6 {
	@include background( image-url('bg/6.jpg') repeat left center );
}

@for $n from 7 through 10 {
	body.custom-background.pattern-#{$n} {
		@include background( image-url('bg/#{$n}.png') repeat left center );
	}
}

/*
 * jTweetsAnywhere V1.3.1
 * http://thomasbillenstein.com/jTweetsAnywhere/
 */
.jta-tweet-list {
  padding: 0;
  list-style: none;
}

.jta-tweet-list-item {
  background: #fafafa;
  border-bottom: 1px solid #e4e4e4;
  padding: 8px 0px 8px 0px;
  overflow: hidden;
}

.jta-tweet-list-item:first-child {
  border-top: 1px solid #e4e4e4;
}

.jta-tweet-profile-image {
  width: 48px;
  display: inline;
  float: left;
}

.jta-tweet-profile-image img {
  width: 48px;
  height: 48px;
}

.jta-tweet-body-list-profile-image-present {
  margin-left: 58px;
}

.jta-tweet-user-name {
  display: block;
}

.jta-tweet-user-screen-name {
  font-weight: bold;
}

.jta-tweet-user-full-name {
  font-size: 11px;
  color: #999;
}

.jta-tweet-user-screen-name-link,
.jta-tweet-a,
.twitter-anywhere-user {
  color: #900;
  text-decoration: none;
}

.jta-tweet-user-screen-name-link:hover,
.jta-tweet-a:hover,
.twitter-anywhere-user:hover {
  color: #900;
  text-decoration: underline;
}

.jta-tweet-user-full-name-link {
  color: #999;
  text-decoration: none;
}

.jta-tweet-user-full-name-link:hover {
  color: #666666;
  text-decoration: underline;
}

.jta-tweet-attributes {
  display: block;
  color: #999;
  font-size: 11px;
  margin-top: 3px;
}

.jta-tweet-twitter-bird-icon {
  float: left;
  width: 19px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 5px;
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/bird/bird_gray/bird_16_gray.png);
}

.jta-tweet-twitter-bird-icon:hover {
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/bird/bird_black/bird_16_black.png);
}

.jta-tweet-timestamp-link,
.jta-tweet-source-link a,
.jta-tweet-inreplyto-link,
.jta-tweet-location-link,
.jta-tweet-retweeter-link {
  color: #999;
  text-decoration: none;
}

.jta-tweet-timestamp-link:hover,
.jta-tweet-source-link a:hover,
.jta-tweet-inreplyto-link:hover,
.jta-tweet-location-link:hover,
.jta-tweet-retweeter-link:hover {
  color: #999;
  text-decoration: underline;
}

.jta-tweet-actions {
  display: block;
  color: #999;
  font-size: 11px;
  margin-top: 3px;
}

.jta-tweet-action-reply,
.jta-tweet-action-retweet,
.jta-tweet-action-favorite {
  padding-right: 1em;
}

.jta-tweet-action-reply a,
.jta-tweet-action-retweet a,
.jta-tweet-action-favorite a {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-left: 19px;
  color: #999;
  text-decoration: none;
}

.jta-tweet-action-reply a {
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/reply.png);
}

.jta-tweet-action-retweet a {
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/retweet.png);
}

.jta-tweet-action-favorite a {
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/favorite.png);
}

.jta-tweet-action-reply a:hover,
.jta-tweet-action-retweet a:hover,
.jta-tweet-action-favorite a:hover {
  color: #666666;
  text-decoration: underline;
}

.jta-tweet-action-reply a:hover {
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/reply_hover.png);
}

.jta-tweet-action-retweet a:hover {
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/retweet_hover.png);
}

.jta-tweet-action-favorite a:hover {
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/favorite_hover.png);
}

.jta-tweet-list-controls {
  margin-top: 20px;
}

.jta-tweet-list-controls-button {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border: 1px solid #999;
}

.jta-tweet-list-controls-button:hover {
  color: black;
  background-color: #999;
  cursor: pointer;
}

.jta-tweet-list-controls-button-next {
  margin-left: 10px;
}

.jta-tweet-list-autorefresh-trigger {
  padding: 8px 0px 8px 0px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #999;
}

.jta-tweet-list-autorefresh-trigger:hover {
  color: black;
  background-color: #999;
  cursor: pointer;
}

.jta-login-info-profile-image {
  width: 48px;
  display: inline;
  float: left;
}

.jta-login-info-profile-image img {
  width: 48px;
  height: 48px;
}

.jta-login-info-block {
  margin-left: 58px;
}

.jta-login-info-sign-out {
  width: 97px;
  margin-top: 2px;
  padding: 1px;
  text-align: center;
  border: 1px solid #999;
}

.jta-login-info-sign-out:hover {
  color: black;
  background-color: #999;
  cursor: pointer;
}

.jta-loading {
  margin: 0;
  padding: 8px 0px 8px 0px;
}

.jta-error {
  margin: 0;
  padding: 8px;
  color: #000;
  background-color: red;
}

.jta-nodata {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.jta-clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}