/* 	BREADCRUMBS
	----------------- */
#breadcrumbs {
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    @include adjust-font-size-to(11px);
    margin-bottom: 25px;
    padding: 5px 0;
}

/* 	SOCIAL SHARE BUTTONS
	----------------- */
.share {
	display: block;
	margin: rhythm(.5) 0 rhythm(.8);
	
	p {
		display: inline-block;
		@include ie7-inline-block;
		margin: 0;
		&.share-title {
			color: #555;
			@include adjust-font-size-to(14px, 1, 11px);
			font-weight: bold;
			margin-right: rhythm(.5);
		}
		&.twitter {
			position: relative;
			top: 5px;
		}
		&.fb-like {
			@extend .twitter;
		}
		&.plusone {
			@extend .twitter;
		}
		&.stumble {
			@extend .twitter;
			iframe {
				width: 96px;
			}
		}
		&.pin-it {
			@extend .twitter;
		}
	}
}

/*	AUTHOR BOX
	----------------- */
article {
	#author-info {
		border-top: 4px double $border-color;
		clear: both;
		display: block;
		@include leader;
		@include padding-leader;
		
		#author-description {
			overflow: hidden;
			h2 {
				@include adjust-font-size-to(14px, 1, 11px);
			}
			p {
				@include adjust-font-size-to(12px, 1, 11px);
				margin: 0 0 rhythm(.5);
			}
		}
	}
}