// Base font size
// ------------------
@mixin establish-baseline($font-size: $base-font-size) {
  body {
	background-color: $background-color;
	color: $font-color;
	@include ff-text;
    font-size: $font-size / $ie-font-ratio;
    @include adjust-leading-to(1, if($relative-font-sizing, $font-size, $base-font-size));
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  }
  html>body {
    font-size: $font-size;
  }
}

// Set the outer grid-containing element(s).
@mixin container($margin: auto) {
  @include pie-clearfix;
  margin: $margin;
  width: columns-width();
  max-width: 100%;
}

// @include custom full function
$gutter: side-gutter();
@mixin full($nested: false, $up: 0, $down: 0, $left: $gutter, $right: $gutter) {
  clear: both;
  @if not $nested {
    margin: $up $right $down $left;
  }
}

// ================================================================================
// @font-face mixin
// ================================================================================
@font-face {
    font-family: 'EntypoRegular';
    src: url('library/fonts/entypo/entypo-webfont.eot');
    src: url('library/fonts/entypo/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('library/fonts/entypo/entypo-webfont.woff') format('woff'),
         url('library/fonts/entypo/entypo-webfont.ttf') format('truetype'),
         url('library/fonts/entypo/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OswaldBold';
    src: url('library/fonts/oswald/Oswald-Bold-webfont.eot');
    src: url('library/fonts/oswald/Oswald-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('library/fonts/oswald/Oswald-Bold-webfont.woff') format('woff'),
         url('library/fonts/oswald/Oswald-Bold-webfont.ttf') format('truetype'),
         url('library/fonts/oswald/Oswald-Bold-webfont.svg#OswaldBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BitterRegular';
    src: url('library/fonts/bitter/Bitter-Regular-webfont.eot');
    src: url('library/fonts/bitter/Bitter-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('library/fonts/bitter/Bitter-Regular-webfont.woff') format('woff'),
         url('library/fonts/bitter/Bitter-Regular-webfont.ttf') format('truetype'),
         url('library/fonts/bitter/Bitter-Regular-webfont.svg#BitterRegular') format('svg');
	font-weight: normal;
    font-style: normal;
}

@mixin ff-text{
	font-family: "BitterRegular", $georgia-font-stack;
}
@mixin ff-heading{
	font-family: "OswaldBold", $arial-font-stack; 
}
@mixin ff-decorative{
	font-family: $cursive-font-stack; 
}
@mixin ff-mono{
	font-family: $monospace-simple-font-stack;
}
@mixin ff-entypo{
	font-family: "EntypoRegular", sans-serif;
}

// =============================================================================
// Mixin for reset lists
// =============================================================================
@mixin reset-list() {
	list-style: none;
	margin: 0;
	padding: 0;
}

// IE7 inline-block
// ----------------
@mixin ie7-inline-block() {
  *display: inline;
  *zoom: 1;
}

// =============================================================================
// Mixin for scroll bar
// =============================================================================
@mixin scrollbars($width, $height, $radius, $color) {
	&::-webkit-scrollbar { width: $width; height: $height; }
	&::-webkit-scrollbar-button:start:decrement, &::-webkit-scrollbar-button:end:increment { display: block; height: 0; background-color: transparent; }
	&::-webkit-scrollbar-track-piece { -webkit-border-radius: 0; -webkit-border-bottom-right-radius: $radius; -webkit-border-bottom-left-radius: $radius; }
	&::-webkit-scrollbar-thumb:vertical { height: 50px; background-color: $color; -webkit-border-radius: $radius; }
	&::-webkit-scrollbar-thumb:horizontal { width: 50px; background-color: $color; -webkit-border-radius: $radius; }
}

// =============================================================================
// Mixin for selection markup
// =============================================================================
@mixin selection($background, $color, $element:false) {
	@if($element) {
		&::-moz-selection{ background:$background; color:$color; text-shadow:none; }
		&::selection { background:$background; color:$color; text-shadow:none; }
	} @else {
		::-moz-selection{ background:$background; color:$color; text-shadow:none; }
		::selection { background:$background; color:$color; text-shadow:none; }
	}
}

// =============================================================================
// Mixin for creating triangles
// =============================================================================
@mixin triangle($direction:up, $color:#000, $size:100px) {
	@if($direction == up) {
		border-color: transparent transparent $color;
		border-style: solid;
		border-width: 0 $size $size;
		height: 0;
		width: 0;
	}
	@if($direction == down) {
		border-color: $color transparent transparent transparent;
 		border-style: solid;
  		border-width: $size;
  		height:0;
  		width:0;
	}
	@if($direction == left) {
		border-color: transparent $color transparent transparent;
		border-style: solid;
		border-width: $size $size $size 0;
		height: 0;
		width: 0;
	}
	@if($direction == right) {
		border-color: transparent transparent transparent $color;
 		border-style: solid;
  		border-width: $size 0 $size $size;
  		height:0;
  		width:0;
	}
}

// =============================================================================
// Mixin for placeholder styling
// =============================================================================
@mixin placeHolder($color) {
	&::-webkit-input-placeholder { color:$color; }
	&:-moz-placeholder { color:$color; }
}


// =============================================================================
// Mixin for simple button from zurb
// =============================================================================
$default-bgcolor: #222 !default;
$default-border-radius: 5px !default;
$default-box-shadow: 0 1px 3px rgba(0,0,0,0.5) !default;
$default-font-size: 1em !default;
$default-padding: 0.3em 1.5em !default;
$default-text-color: #fff !default;

@mixin button($bgcolor: $default-bgcolor, $border-radius: $default-border-radius, $box-shadow: $default-box-shadow, $font-size: $default-font-size, $padding: $default-padding, $text-color: $default-text-color) {
	background-image: url(images/overlay.png);
	background-repeat: repeat-x;
	background-color: $bgcolor;
	@include border-radius($border-radius);
	@include box-shadow($box-shadow);
	color: $text-color;
	font-size: $font-size;
	padding: $padding;
	behavior: url(pie.htc);
	@include button-default-structure;
	
	&:active {
		top: 1px;
	}
}

@mixin button-default-structure {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	cursor: pointer;
	font-weight: bold;
	display: inline-block;
	line-height: 1;
	position: relative;
	outline: 0;
	text-decoration: none;
}


// =============================================================================
// Mixin for color
// =============================================================================
$background-color: #fff !default;
$border-color: #eee !default;
$font-color: #333 !default;
$quiet-color: lighten($font-color, 20%) !default;
$loud-color: darken($font-color, 13.33%) !default;
$header-color: darken($font-color, 6.67%) !default;
$alt-text-color: #666666 !default;
$link-color: #5e9ae2 !default;
$link-hover-color: #555 !default;
$link-focus-color: $link-hover-color !default;
$link-active-color: lighten(adjust-hue($link-color, 75deg), 10%) !default;
$link-visited-color: $link-color !default;
$feedback-border-color: #dddddd !default;
$success-color: #264409 !default;
$success-bg-color: #e6efc2 !default;
$success-border-color: #c6d880 !default;
$notice-color: #514721 !default;
$notice-bg-color: #fff6bf !default;
$notice-border-color: #ffd324 !default;
$info-color: #205791 !default;
$info-bg-color: #d5edf8 !default;
$info-border-color: #92cae4 !default;
$error-color: #8a1f11 !default;
$error-bg-color: #fbe3e4 !default;
$error-border-color: #fbc2c4 !default;
$highlight-color: yellow !default;
$added-color: white !default;
$added-bg-color: #006600 !default;
$removed-color: white !default;
$removed-bg-color: #990000 !default;
$table-header-color: #c3d9ff !default;
$table-stripe-color: #e5ecf9 !default;