/* 	POST NAVIGATION
	----------------- */
.post-navigation {
	display: block;
	@include adjust-font-size-to(11px);
	overflow: hidden;
	margin: rhythm(2) 0;
}	

.nav-previous {
	@include columns(8, 17);
}

.nav-next {
	@include columns(9, 17);
	@include omega(17);
	text-align: right;
}

.paging-navigation {
	@extend .post-navigation;
	margin: rhythm(.8) 0;
}

/* 	POST PAGES
	----------------- */
.page-links {
	display: block;
	clear: both;
}