/*! http://responsiveslides.com v1.25 by @viljamis */

.rslides,
.home-slides {
	@include reset-list;
	position: relative;
	width: 100%;
	li {
		display: none;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		&::first-child {
			display: block;
			float: left;
			position: relative;
		}
	}
	img {
		border: 0;
		display: block;
		float: left;
		height: auto;
		width: 100%;
	}
}

.rslides_container {
	@include float-left;
	position: relative;
	width: 100%;
}

.rslides1_nav {
	background: transparent image-url("slide-nav.gif") no-repeat left top;
	height: 61px;
	left: 0;
	margin-top: -25px;
	@include opacity(.7);
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	text-decoration: none;
	top: 50%;
	width: 38px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	&:hover {
		opacity: 1.0;
	}
	&.next {
		background-position: right top;
		left: auto;
		right: 0;
	}
	&:focus {
		outline: none;
	}
}

.rslides_tabs {
	clear: both;
	margin-top: 10px;
	padding: 0;
	text-align: center;
	li {
		display: inline;
		float: none;
		_float: left;
		*float: left;
		margin-right: 5px;
	}
}


.rslides_tabs a {
	background: $gray;
	background: rgba($black, .2);
	@include border-radius(15px);
	@include single-box-shadow( rgba($black,.3), 0, 0, 2px, 0, true );
	@include inline-block;
	_display: block;
	*display: block;
	height: 12px;
	overflow: hidden;
	text-indent: -9999px;
	width: 12px;
}

.rslides_tabs .rslides_here a {
	background: #222;
	background: rgba($black, .8);
}

/*
 * jTweetsAnywhere V1.3.1
 * http://thomasbillenstein.com/jTweetsAnywhere/
 */
.jta-tweet-list {
  padding: 0;
  list-style: none;
}

.jta-tweet-list-item {
  background: #fafafa;
  border-bottom: 1px solid #e4e4e4;
  padding: 8px 0px 8px 0px;
  overflow: hidden;
}

.jta-tweet-list-item:first-child {
  border-top: 1px solid #e4e4e4;
}

.jta-tweet-profile-image {
  width: 48px;
  display: inline;
  float: left;
}

.jta-tweet-profile-image img {
  width: 48px;
  height: 48px;
}

.jta-tweet-body-list-profile-image-present {
  margin-left: 58px;
}

.jta-tweet-user-name {
  display: block;
}

.jta-tweet-user-screen-name {
  font-weight: bold;
}

.jta-tweet-user-full-name {
  font-size: 11px;
  color: #999;
}

.jta-tweet-user-screen-name-link,
.jta-tweet-a,
.twitter-anywhere-user {
  color: #900;
  text-decoration: none;
}

.jta-tweet-user-screen-name-link:hover,
.jta-tweet-a:hover,
.twitter-anywhere-user:hover {
  color: #900;
  text-decoration: underline;
}

.jta-tweet-user-full-name-link {
  color: #999;
  text-decoration: none;
}

.jta-tweet-user-full-name-link:hover {
  color: #666666;
  text-decoration: underline;
}

.jta-tweet-attributes {
  display: block;
  color: #999;
  font-size: 11px;
  margin-top: 3px;
}

.jta-tweet-twitter-bird-icon {
  float: left;
  width: 19px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 5px;
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/bird/bird_gray/bird_16_gray.png);
}

.jta-tweet-twitter-bird-icon:hover {
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/bird/bird_black/bird_16_black.png);
}

.jta-tweet-timestamp-link,
.jta-tweet-source-link a,
.jta-tweet-inreplyto-link,
.jta-tweet-location-link,
.jta-tweet-retweeter-link {
  color: #999;
  text-decoration: none;
}

.jta-tweet-timestamp-link:hover,
.jta-tweet-source-link a:hover,
.jta-tweet-inreplyto-link:hover,
.jta-tweet-location-link:hover,
.jta-tweet-retweeter-link:hover {
  color: #999;
  text-decoration: underline;
}

.jta-tweet-actions {
  display: block;
  color: #999;
  font-size: 11px;
  margin-top: 3px;
}

.jta-tweet-action-reply,
.jta-tweet-action-retweet,
.jta-tweet-action-favorite {
  padding-right: 1em;
}

.jta-tweet-action-reply a,
.jta-tweet-action-retweet a,
.jta-tweet-action-favorite a {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-left: 19px;
  color: #999;
  text-decoration: none;
}

.jta-tweet-action-reply a {
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/reply.png);
}

.jta-tweet-action-retweet a {
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/retweet.png);
}

.jta-tweet-action-favorite a {
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/favorite.png);
}

.jta-tweet-action-reply a:hover,
.jta-tweet-action-retweet a:hover,
.jta-tweet-action-favorite a:hover {
  color: #666666;
  text-decoration: underline;
}

.jta-tweet-action-reply a:hover {
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/reply_hover.png);
}

.jta-tweet-action-retweet a:hover {
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/retweet_hover.png);
}

.jta-tweet-action-favorite a:hover {
  background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/favorite_hover.png);
}

.jta-tweet-list-controls {
  margin-top: 20px;
}

.jta-tweet-list-controls-button {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border: 1px solid #999;
}

.jta-tweet-list-controls-button:hover {
  color: black;
  background-color: #999;
  cursor: pointer;
}

.jta-tweet-list-controls-button-next {
  margin-left: 10px;
}

.jta-tweet-list-autorefresh-trigger {
  padding: 8px 0px 8px 0px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #999;
}

.jta-tweet-list-autorefresh-trigger:hover {
  color: black;
  background-color: #999;
  cursor: pointer;
}

.jta-login-info-profile-image {
  width: 48px;
  display: inline;
  float: left;
}

.jta-login-info-profile-image img {
  width: 48px;
  height: 48px;
}

.jta-login-info-block {
  margin-left: 58px;
}

.jta-login-info-sign-out {
  width: 97px;
  margin-top: 2px;
  padding: 1px;
  text-align: center;
  border: 1px solid #999;
}

.jta-login-info-sign-out:hover {
  color: black;
  background-color: #999;
  cursor: pointer;
}

.jta-loading {
  margin: 0;
  padding: 8px 0px 8px 0px;
}

.jta-error {
  margin: 0;
  padding: 8px;
  color: #000;
  background-color: red;
}

.jta-nodata {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.jta-clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}