@include establish-baseline(16px);

/* 	SELECTION
	----------------- */
@include selection($black, $white);


/* 	LINKS
	----------------- */
a { 
	color: $linkColor;
	text-decoration: none;
	&:visited {
		color: $linkVisited;
	}
	&:hover {
		color: $linkHover;
		text-decoration: none;
	}
}

/* 	STRUCTURAL LAYOUT
	----------------- */
#page {
	background-color: $white;
	@include single-box-shadow( rgba($black, .1), 0, 0, 3px, 0, false );
	// @include susy-grid-background;
	@include container;
	@include trailer;
	padding-bottom: 1.25em;
	
	@media screen and (min-width: 320px) and (max-width: 1024px) {
		margin: 0 $gutter-width rhythm();
		@include padding-trailer;
	}
}

#masthead {
	clear: both;
	@include trailer(2);
	@include padding-leader;
}

#main {
	clear: both;
}

#primary {
	@include span-columns(16, 24);
	
	@media screen and (max-width: 767px) {
		@include span-columns(24 omega, 24);
	}
}

#secondary {
	background-color: $whiteDark;
	@include border-radius;
	@include single-box-shadow( rgba($black, .2), 0, 0, 2px, 0, false );
	@include span-columns(8 omega, 24);
	
	@media screen and (max-width: 767px) {
		@include span-columns(24 omega, 24);
		@include leader(.7);
		.widget {
			@include span-columns(11, 24);
			&:nth-child(2n+2) {
				@include float-right;
			}
		}
	}
	
	@media screen and (max-width: 600px) { 
		.widget {
			@include span-columns(11, 24);
			&:nth-child(2n+2) {
				margin-left: 0;
			}
		}
	}
	
	@media screen and (max-width: 480px) {
		.widget {
			@include span-columns(22, 24);
			&:nth-child(2n+2) {
				@include float-left;
				margin-left: 1.5em;
			}
		}
	}
}

#colophon {
	@include container;
	@media screen and (min-width: 320px) and (max-width: 1024px) {
		margin: 0 $gutter-width rhythm();
	}
	
	@media screen and (max-width: 600px) {
		.footer-widget {
			@include span-columns(12, 24);
			&:nth-child(2n+2) {
				@include omega;
			}
		}
	}
	
	@media screen and (max-width: 480px) {
		.footer-widget {
			@include span-columns(24 omega, 24);
		}
	}
	.footer {
		clear: both;
		padding: rhythm() 0;
	}
}

/* 	RIGHT PRIMARY LAYOUT
	----------------- */
.right-primary {
	#primary {
		@include omega;
	}
	#secondary {
		@include span-columns(8, 24);
	}
}