.widget {
	border-bottom: 4px double $border-color;
	@include adjust-font-size-to(12px);
	@include trailer;
	@include padding-trailer(.5);
	&:last-child {
		border-bottom: none;
	}
	.widget-title {
		color: #bbb;
		display: block;
		@include ff-text;
		@include adjust-font-size-to(11px, 1, 12px);
		text-transform: uppercase;
	}
	
	ul {
		@include reset-list;
		li {
			&:before {
				content: "{";
				color: #777;
				@include ff-entypo;
				@include adjust-font-size-to(20px, 1, 12px);
				padding-right: rhythm(.2);
			}
			a {
				color: #777;
				display: inline-block;
				@include ie7-inline-block;
				&:hover {
					color: $link-color;
				}
			}
		}
	}
}

// links widget
.widget_links {
	
	ul {
	
		li {
		
			&:after {}
			
			&:before {}
			
			a {}
		}
	}
}

// meta widget
.widget_meta {
	
	ul {
		
		li {
			
			a {}
		}
	}
}

// pages widget
.widget_pages {
	
	ul {
	
		li {
		
			a {}
		}
	}
}

// recent-posts widget
.widget_recent_entries {
	
	ul {
	
		li {
		
			a {}
		}
	}
}

/* 	ARCHIVES WIDGET
	----------------- */
.widget_archive {
	ul {
	
		li {
		
			a {
				display: inline-block;
			}
		} 
	}
	
	select {
		width: 100%;
	}
	
	option {}
}

// tag-cloud widget
.widget_tag_cloud {

	a {
	
		&:after {}
		
		&:before {}
	}

}

/* 	CALENDAR WIDGET
	----------------- */
.widget_calendar {
	width: 100%;
	border: medium none;
}

#calendar_wrap {
	th {
		@include adjust-font-size-to(12px, 1, 12px);
		border: none;
	}
	td {
		color: #aaa;
	}
}

#wp-calendar { 
	
	tr td {
		background: #f5f5f5;
		border: 1px solid #fff;
		padding: 3px 0 2px;
		text-align: center;
	}
	
	caption {
		color: #222;
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 4px;
		text-align: left;
	}
	a {}
	#today {}
	#prev {
		text-align: left;
		a {}
	}
	#next {
		text-align: right;
		a {}
	}
}

/* 	CATEGORY WIDGET
	----------------- */
.widget_categories {
	ul {
		li {
			a {
				display: inline-block;
			}
		}
		
		ul.children {
			padding-left: 20px;
		}
	}
	a {	
	}
	select{
		width: 100%;
		
		&#cat {}
		
		&.postform {}
	}

	option {}

	.level-0 {}

	.level-1 {}

	.level-2 {}

	.level-3 {}

}

// recent-comments widget
.recentcomments {}

#recentcomments {

	li {
	
		a {}
	}
}

.widget_recent_comments {}

/* 	SEARCH WIDGET
	----------------- */
#searchform {}
.widget_search {

	input[type="text"] {
		background: #fafafa;
		border: 1px solid $border-color;
		padding: 5px 10px;
		@include columns(2, 3);
		margin-right: 5px;
	}
	
	input[type="text"]:focus {
		background: #fff;
	}
}

.screen-reader-text {
	display: none;
}

// Rss widget
.widget_rss {

}

// text widget
.textwidget {}
.widget_text {}
.textwidget p {}

//	CUSTOM MENU WIDGET
.widget_nav_menu {
	.menu-menu-container {
		ul {
			li {
				a{
				}
			}
		}
	}
}

/* 	CUSTOM TWITTER WIDGET
	----------------- */
.widget_rumputhijau_twitter_widget {
	ul {
		li {
			border-bottom:1px solid #eee;
			padding-bottom: 8px;
			margin-bottom: 8px;
			
			a {
				display: inline;
			}
		}
	}
}

.follow-me {
	display:block;
	margin-top:10px;
}

/* 	EPHEMERA WIDGET
	----------------- */
.widget_tiga_ephemera {
	ol {
		@include reset-list;
		li {
			@include trailer(.5);
			a {
				font-weight: bold;
				display: block;
			}
			.comments-link {
				@include adjust-font-size-to(11px, 1, 12px);
				a {
					color: $font-color;
					font-weight: normal;
				}
			}
		}
	}
}

/* 	CUSTOM SOCIAL SHARE WIDGET
	----------------- */
.tiga_social_widget {
	
}

ul.social-buttons {
	@include leader(.3);
	li {
		@include float-left;
		margin-right: rhythm(.5);
		&:before {
			content: "";
			padding-right: 0;
		}
	}
}