.widget {
	border-bottom: 4px double $borderColor;
	@include adjust-font-size-to(12px);
	margin: rhythm();
	@include padding-trailer(.5);
	word-wrap: break-word;
	&:last-child {
		border-bottom: none;
	}
	.widget-title {
		color: #bbb;
		display: block;
		@include ff-text;
		@include adjust-font-size-to(11px, 1, 12px);
		text-transform: uppercase;
	}
	
	ul {
		list-style: circle;
		margin: 0;
		padding: 0 0 0 rhythm();
		li {
		
			a {
				color: #777;
				@include inline-block;
				&:hover {
					color: $linkColor;
				}
			}
		}
	}
}

// links widget
.widget_links {
	
	ul {
	
		li {
		
			&:after {}
			
			&:before {}
			
			a {}
		}
	}
}

// meta widget
.widget_meta {
	
	ul {
		
		li {
			
			a {}
		}
	}
}

// pages widget
.widget_pages {
	
	ul {
	
		li {
		
			a {}
		}
	}
}

// recent-posts widget
.widget_recent_entries {
	
	ul {
	
		li {
		
			a {}
		}
	}
}

/* 	ARCHIVES WIDGET
	----------------- */
.widget_archive {
	ul {
	
		li {
		
			a {
				@include inline-block;
			}
		} 
	}
	
	select {
		width: 100%;
	}
	
	option {}
}

/* 	TAG CLOUD WIDGET
	----------------- */
.widget_tag_cloud {
	.tagcloud {
		a {
			background: #f2f2f2;
			@include background-image( linear-gradient( #fff, darken(#fff, 5%) ) );
			@include border-radius(3px);
			border: 1px solid darken(#fff, 10%);
			color: $grayDarker;
			@include inline-block-ie7;
			height: 2em;
			margin: 0 5px 5px 0;
			padding: 0 8px;
			@include text-shadow( 0 1px 0 rgb(255, 255, 255) );
			&:hover {
				background: darken(#fff, 5%);
				text-decoration: none;
			}
		}
	}
}

/* 	CALENDAR WIDGET
	----------------- */
.widget_calendar {
	border: none;
}

#calendar_wrap {
	th {
		@include adjust-font-size-to(12px, 1, 12px);
		border: none;
	}
	td {
		color: $grayDark;
	}
}

#wp-calendar { 
	
	tr td {
		background: $whiteDark;
		border: 1px solid $white;
		padding: 3px 0 2px;
		text-align: center;
	}
	
	caption {
		color: $blackLight;
		font-size: 14px;
		font-weight: bold;
		@include ff-bitter-bold;
		padding-bottom: 4px;
		text-align: left;
	}
	a {}
	#today {}
	#prev {
		text-align: left;
		a {}
	}
	#next {
		text-align: right;
		a {}
	}
}

/* 	CATEGORY WIDGET
	----------------- */
.widget_categories {
	ul {
		li {
			a {
				@include inline-block;
			}
		}
		
		ul.children {
			padding-left: 20px;
		}
	}
	a {	
	}
	select{
		width: 100%;
		
		&#cat {}
		
		&.postform {}
	}

	option {}

	.level-0 {}

	.level-1 {}

	.level-2 {}

	.level-3 {}

}

/* 	RECENT COMMENTS WIDGET
	----------------- */
.recentcomments {}

#recentcomments {
	li {
		a {
			display: inline;
		}
	}
}

.widget_recent_comments {}

/* 	SEARCH WIDGET
	----------------- */
.widget_search {
	@include clearfix;
	
	#searchform {
		position: relative;
		width: 100%;
		
		input[type="text"] {
			border: 1px solid #ddd;
			height: 3em;
			margin-right: 5px;
			padding: 5px 10px;
			width: 100%;
			&:focus {
				@include box-shadow(none);
			}
		}
		input[type="submit"] {
			@include background( image-url("search-icon.png") no-repeat );
			border: none;
			position: absolute;
			right: 8px;
			top: 12px;
			text-indent: -999em;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}

.screen-reader-text {
	display: none;
}

// Rss widget
.widget_rss {

}

// text widget
.textwidget {}
.widget_text {}
.textwidget p {}

//	CUSTOM MENU WIDGET
.widget_nav_menu {
	.menu-menu-container {
		ul {
			li {
				a{
				}
			}
		}
	}
}

/* 	CUSTOM TWITTER WIDGET
	----------------- */
.widget_rumputhijau_twitter_widget {
	ul {
		li {
			border-bottom: 1px solid $grayLighter;
			padding-bottom: 8px;
			margin-bottom: 8px;
			
			a {
				display: inline;
			}
		}
	}
}

.follow-me {
	display:block;
	margin-top:10px;
}

/* 	EPHEMERA WIDGET
	----------------- */
.widget_tiga_ephemera {
	ol {
		@include reset-list;
		li {
			@include trailer(.5);
			a {
				font-weight: bold;
				@include ff-bitter-bold;
				display: block;
			}
			.comments-link {
				@include adjust-font-size-to(11px, 1, 12px);
				a {
					color: $fontColor;
					font-weight: normal;
				}
			}
		}
	}
}

/* 	CUSTOM SOCIAL SHARE WIDGET
	----------------- */
.tiga_social_widget {
	
}

ul.social-buttons {
	@include leader(.3);
	padding: 0;
	li {
		@include float(left);
		margin: 0 rhythm(.5) rhythm(.5) 0;
		&:before {
			content: "";
			padding-right: 0;
		}
	}
}