@import "compass";

/*
File Name: 		Options Custom
Description: 	Custom css for theme options
Version: 		1.0
Author: 		Satrya
Since:			tiga 0.0.6
License: 		GNU General Public License v3
License URI: 	http://www.gnu.org/licenses/gpl-3.0.html
*/

#optionsframework {
	@include float(left);
	margin-right: 20px;
	width: 780px;
	.controls {
		.of-radio-img-img {
			height: 90px;
			width: 90px;
		}
	}
}

#optionsframework-sidebar {
	@include float(right);
	width: 280px;
	a {
		text-decoration: none;
	}
}

#wpbody-content #optionsframework-sidebar .metabox-holder {
	padding-top: 0;
}