// Style for theme footer
//
// =================================================================================

#colophon {
	background: $blackLight;
	@include border-radius;
	@include trailer;
}

#site-credit {
	@include container;
	@include trailer;
}
	
.copyleft {
	@include float( left );
	@include adjust-font-size-to( 12px );
	@include text-shadow( 1px 1px 0 rgba($white, .5) );
}

.credit {
	@include float( right );
	@include adjust-font-size-to(12px);
	@include text-shadow( 1px 1px 0 rgba($white, .5) );
}

/* 	FOOTER SIDEBAR
	----------------- */
.site-footer {
	color: #fff;
	@include text-shadow( 1px 1px 1px rgba($black, .9) );
	.widget {
		border-bottom: none;
		@include float(left);
		margin: 0 0 rhythm(1.5);
		.widget-title {
			color: $grayDark;
		}
		ul {
			@include reset-list;
			li {
				border-bottom: 1px solid #333;
				padding: .4em 0;
				&:before {
					content: "";
					padding-right: 0;
				}
				a {
					color: $white;
					@include text-shadow( 1px 1px 1px rgba($black, .9) );
				}
			}
		}
		.tagcloud a {
			background: $white;
			border: none;
			color: #333;
			@include text-shadow(none);
		}
		&.tiga_social_widget {
			li {
				border-bottom: none;
			}
		}
		&.tiga_subscribe_widget {
			input[type="text"] {
				width: 138px;
			}
			input[type="submit"] {
				font-size: 11px;
				padding: 6px 6px 7px;
			}
		}
		&.widget_rss {
			.rsswidget {
				color: $white;
				padding: 0 2px;
			}
		}
	}
}

.site-footer {
	&.one {
		.widget {
			width: 100%;
		}
	}
	&.two {
		.widget {
			margin-right: 2%;
			width: 48%;
			&:last-child {
				@include float( right );
				margin-right: 0;
				margin-left: 2%;
			}
		}
	}
	&.three {
		.widget {
			margin-right: 5%;
			width: 30%;
			&:last-child {
				@include float( right );
				margin-right: 0;
			}
		}
	}
	&.four {
		.widget {
			margin-right: 2%;
			width: 23%;
			&:last-child {
				@include float( right );
				margin-right: 0;
				margin-left: 2%;
			}
		}
	}
}