// Style for all elements in header
//
// =================================================================================

#main-header {
	@include trailer;
}

.site-branding {
	@include span-columns(10, 24);
	@media screen and (max-width: 600px) {
		@include span-columns(24 omega, 24);
		margin: 0 0 rhythm();
		text-align: center;
	}
	.site-title {
		@include adjust-font-size-to(40px);
		@include ff-heading;
		a {
			color: $fontColor;
			&:hover {
				color: $linkColor;
			}
		}
	}
}

.site-logo {
	position: relative;
	a {
		display: block;
	}
	span {
		display: block;
		@include hide-text;
		left: 0;
		position: absolute;
		top: 0;
	}
}