// Style for main content
//
// =================================================================================

/*	HOME PAGE FEATURED POSTS
	----------------- */
.featured-posts {
	@include trailer(.5);
}

.featuredposts-heading {
	@include ff-heading;
	@include adjust-font-size-to(14px);
	@include trailer;
}

.featured-slides {
	border: 4px solid $white;
	@include single-box-shadow( rgba($black, .4), 0, 1px, 4px, 0, false );
	margin-bottom: 0;
	overflow: hidden;
	padding-bottom: 0;
	h2 {
		line-height: 1.3;
		margin: 1em 0 0;
	}
}

.slides-content {
	background-color: rgba($black, .6);
	bottom: 0;
	height: 100%;
	left: 0;
	display: none;
	position: absolute;
	width: 100%;
	h2 {
		font-size: 1.5em;
		line-height: 1.3em;
		padding: .5em 2em 0;
		
		@media screen and (max-width: 480px) {
			@include adjust-font-size-to(15px);
			padding-left: 3.5em;
			position: relative;
			top: 40%;
		}
		
		@media screen and (max-width: 320px) {
			position: relative;
			top: 28%;
		}
		
		a {
			color: $white;
		}
	}
	.entry-summary {
		@include adjust-font-size-to(14px);
		padding: .5em 3.5em;
		
		@media screen and (max-width: 480px) {
			display: none;
		}
		
		@media screen and (max-width: 320px) {
			display: none;
		}
		
	}
	h2 a,
	.entry-summary {
		color: $white;
		margin: 0;
	}
	a:hover {
		color: $white;
	}
}

/* see Plugin area to see more feature posts style */

/*	HOME PAGE RECENT POSTS
	----------------- */
.left-content {
	overflow: hidden;
}

.two-cols {
	@include span-columns(8, 16);
	min-height: 370px;
	@media screen and (max-width: 480px) {
		@include span-columns(24 omega, 24);
	}
	&:nth-of-type(2n+2) {
		@include omega;
	}
	.entry-title {
		@include adjust-font-size-to(21px, 1.2, 16px);
		// @include ellipsis;
	}
	.entry-thumbnail {
		@include reset-float;
		margin: 0 0 rhythm(.5);
		width: 100%
	}
}

/* 	MAIN STYLES
	----------------- */
article {
	border-bottom: 4px double $borderColor;
	@include trailer(1.5);
	@include padding-trailer(.5);
	@media screen and (max-width: 480px) {
		&.first-posts {
			.entry-thumbnail {
				display: none;
			}
		}
	}
	.entry-title {
		@include trailer(.3);
		a {
			color: $fontColor;
			&:hover {
				color: $linkColor;
			}
		}
	}
	
	h1.entry-title {
		margin: 0;
	}
	
	.slides-content {
		.entry-title {
			a {
				color: $white;
				&:hover {
					color: $linkColor;
				}
			}
		}
	}
	
	.entry-content,
	.entry-summary {
		@include adjust-font-size-to(13px);
	}
	
	.entry-content {
		.widget {
			@include adjust-font-size-to(13px, 1, 13px);
		}
	}
	#searchform {
		@include trailer;
	}
	
	/* post heading */
	h1 {
		@include adjust-font-size-to(24px, 1.3, 13px);
	}
	h2 {
		@include adjust-font-size-to(21px, 1.2, 13px);
	}
	h3 {
		@include adjust-font-size-to(18px, 1.1, 13px);
	}
	h4 {
		@include adjust-font-size-to(16px, 1, 13px);
	}
	h5 {
		@include adjust-font-size-to(14px, .8, 13px);
	}
	h6 {
		@include adjust-font-size-to(14px, .8, 13px);
	}
}

.entry-thumbnail {
	@include span-columns(4 omega, 16);
	@include pre(1);
	a,
	img {
		display: block;
		@media screen and (max-width: 767px) {
			width: 100%;
		}
	}
}

.entry-meta {
	clear: both;
	@include adjust-font-size-to(11px);
	color: $grayDarker;
	.tag {
		background: image-url('tags.png') no-repeat left center;
		display: block; 
		padding-left: 20px;
	}
	.cat {
		background: image-url('cats.png') no-repeat left center;
		display: block; 
		padding-left: 20px;
	}
	@media screen and (max-width: 320px) {
		.share {
			display: none;
		}
	}
	
	a {
		color: $linkColor;
		&:hover {
			color: $fontColor;
		}
	}
}

.page-edit {
	clear: both;
	display: block;
}

.sticky {
	/*border-bottom: 0;*/
}

.rslides_container {
	.sticky {
		background-color: transparent;
		@include border-radius(0);
		padding: 0;
	}
}

/*	AUTHOR PAGE
	----------------- */
#author-info {
	border-top: 4px double $borderColor;
	border-bottom: 4px double $borderColor;
	@include trailer;
	padding: 1em 0;
	#author-avatar {
		@include float(left);
		margin-right: rhythm(.7);
	}
	img.avatar {
		border: 1px solid $borderColor;
		padding: rhythm(.1);
	}
	#author-description {
		h2 {
			@include adjust-font-size-to(16px);
		}
		p {
			@include adjust-font-size-to(13px);
			margin: 0;
		}
	}
}

/*	ATTACHMENT PAGE
	----------------- */
#image-navigation {
	display: block;
	@include adjust-font-size-to(11px);
	overflow: hidden;
	margin: rhythm() 0;
}

.previous-image {
	@include span-columns(8, 16);
}

.next-image {
	@include span-columns(8 omega, 16);
	text-align: right;
}

/*	ARCHIVES PAGE
	----------------- */
.archives-content {
	.archives-left {
		@include span-columns(6, 16);
		ul {
			list-style: none;
			padding-left: rhythm();
		}
	}
	.archives-right {
		overflow: hidden;
		ul {
			@include reset-list;
		}
	}
	
	.archives-left,
	.archives-right {
		h2 {
			@include trailer(.5);
			color: #bbb;
			display: block;
			@include ff-text;
			@include adjust-font-size-to(11px, 1, 13px);
			text-transform: uppercase;
		}
		ul {
			list-style: disc;
			margin: 0;
			padding: 0 0 0 rhythm();
			li {
				a {
					color: $blackLighter;
					&:hover {
						color: $linkColor;
					}
				}
			}
		}
	}
}

/*	CONTENT SIDEBAR
	----------------- */
#content {
	.widget {
		margin: 15px 0;
	}
}